@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 5;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.blok {
  width: 100%;
  height: 100%;
  background-color: #13151a;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.25rem;
}

#word-1 {
  position: relative;
  padding-right: 0.25rem;
}

#word-2 {
  font-family: 'PP Neue Montreal', sans-serif;
  position: relative;
  padding-left: 1rem;
}

.word h1 {
  font-size: 2.5rem;
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.spinner-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 1.4px solid #fff;
  border-top-color: rgba(255, 255, 255, 0.125);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.digit {
  flex: 1;
  padding-top: 1rem;
}

.count .digit h1 {
  font-size: 15rem;
  font-weight: 400;
}

.word, .count, .digit {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.count .digit h1 {
    position: relative;
    transform: translateY(120%);
    will-change: transform;
}

#word-1 h1 {
    transform: translateY(-120%);
}

#word-2 h1 {
    transform: translateY(120%);
}

.blok {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.divider {
    transform: scaleY(0);
}